<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Food Savior</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/javascripts/popper.min.js" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>

  </head>
  <body class="background-image">
    <nav class="navbar navbar-expand navbar-white bg-dark mb-4">

      <% if (isAuthenticated) { %>
      <a class="navbar-brand" onclick="openNav()"><%= user.first_name %>'s Space</a>
      <% } %>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donations">Donations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donations/new">Make Donation</a>
          </li>
          <% if (isAuthenticated) { %>
          <span class="navbar-text text-light ml-auto mr-3">
            Welcome <%= user.first_name %>!
          </span>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign Out</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
          <% } %>
        </ul>

        <% if (isAuthenticated) { %>
        <form
          class="form-inline my-2 my-lg-0 ml-auto"
          action="/donations %>"
          method="GET"
          >
          <input
            class="form-control mr-sm-2"
            type="search"
            name="research"
            placeholder="search donation posts"
            aria-label="Search"
          >
          <button
            class="btn btn-outline-success my-2 my-sm-0 ml-auto"
            type="submit"
          >
            Search
          </button>
        </form>
        <% } %>

      </div>
    </nav>

    <div id="mySidenav" class="sidenav">
      <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="closeNav()"
      >
        &times;
      </a>
      <a href="/users/<%= user.id %>/donations">My donations</a>
      <a href="/users/<%= user.id %>/messages">My messages</a>
    </div>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "150px";
        document.getElementById("main").style.marginLeft = "150px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>

  <div class="container-fluid" id="main">
