body > * {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white
}

.card {
  color: black;
}

.back-color {
  background-color: grey;
  border-radius: 7px;
}

.card.main-card {
  padding: 0 0;
  border: none;
}

.background-image {
  background-image: url("../images/super_food_pictures.jpg");
  z-index: -1;
  font-family: white
}

.slideshow {
  min-width: 500px;
}

img {
  width: 100%;
}

a {
  color: #00B7FF;
}
