.sidenav {
  position: fixed;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 200;
}

.sidenav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidenav li {
  margin-top: 10px;
}

.sidenav li:hover {
  color: green;
}

.NavLink {
  margin-left: -15px;
}
