<%- include('../partials/header') %>

<h1>Welcome to the message board</h1>
<div class="row">
    <% for (let i = allMessages.length-1; i >= 0; i-- ) { %>
      <% if(donation.user_id !== allMessages[i].user_id) { %>
        <div class="card col-lg-5 m-3 main-card">
          <div class="card-body back-color">
          <p class="card-text"><%= allMessages[i].content %></p>
            <form
              action="/donations/<%= allMessages[i].donation_id %>/messages"
              method="post">
              <textarea type="text" name="content" class="form-control" rows="3"></textarea>
              <input type="submit" value="reply" />
            </form>
          </div>
        </div>
      <% } %>
    <% } %>
</div>

<%- include('../partials/footer') %>
