<%- include('../partials/header') %>

<div class="container">
  <form action="/donations" method="post">

    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder="e.g. Carrots, cauliflower, etc..."/>

    <label>Description</label>
    <textarea type="text" name="description" class="form-control" rows="6"></textarea>

    <label>Item weight</label>
    <input type="number" name="weight" class="form-control"/>

    <div class="btn-group float-right mt-2">
      <button type="submit" class="btn btn-outline-primary mr">Submit</button>
    </div>
  </form>
</div>

<div>
  <form
    action="/upload"
    method="post"
    encType="multipart/form-data"
  >
    <input type="file" name="donationPic" />
    <input type="submit" value="Upload" />
  </form>
</div>

<%- include('../partials/footer') %>
