<%- include('../partials/header') %>

<div class="container">
  <form action="/donations" method="post">

    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder="e.g. Carrots, cauliflower, etc..."/>

    <label>Description</label>
    <textarea type="text" name="description" class="form-control" rows="6"></textarea>

    <label>Item weight</label>
    <input type="number" name="weight" class="form-control"/>

    <form action="/upload" method="post">
    <button type="submit" class="btn btn-outline-primary mr">Post Picture</button>
  </form>

    <div class="btn-group float-right mt-2">
      <button type="submit" class="btn btn-outline-primary mr">Submit</button>
    </div>

  </form>
</div>

<%- include('../partials/footer') %>
