<%- include('../partials/header') %>

<div class="container new-donation">
  <form action="/donations" method="post" encType="multipart/form-data">

    <label><h3>Title</h3></label>
    <input type="text" name="title" class="form-control" placeholder="e.g. Carrots, cauliflower, etc..."/>
    <br />
    <label><h3>Description</h3></label>
    <textarea type="text" name="description" class="form-control" rows="6"></textarea>

    <br />

    <label>Attach picture</label>
    <input type="file" name="donationPic" />


      <button type="submit" class="btn btn-outline-primary float-right">Submit</button>

  </form>
</div>

<%- include('../partials/footer') %>
