<%- include('./partials/headerIndex') %>

<div class="container slideshow">
  <img class="mySlides fade" src="../images/picture3.png" height="800px" width="1280px">
  <img class="mySlides fade" src="../images/picture2.jpg" height="700px" width="1280px">
  <img class="mySlides fade" src="../images/picture1.jpg" height="700px" width="1280px">
</div>

<script>
let myIndex = 0;
carousel();
function carousel() {
  let x = document.getElementsByClassName("mySlides");
  for (let i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {
    myIndex = 1;
  }
  x[myIndex - 1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>



<%- include('./partials/footer') %>
