<%- include('../partials/header') %>

<h1>Welcome to the message board</h1>
<% for (let i = 0; i < myMessages.length; i++) { %>
  <a><%= myMessages[i].content %></a>
<% } %>


<%- include('../partials/footer') %>
