html {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./marble.jpg");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  justify-content: center;
  flex-wrap: wrap;
}

.card:hover {
  opacity: 0.9;
}

.MessageAnswers {
  color: black;
}

.MessageForm {
  padding-top: 20px;
}

.App {
  color: white;
  z-index: -1;
  background-image: url("./marble.jpg");
  height: 100%;
}

.card-body {
  background-color: navy;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}

.card-text {
  color: white;
}

.DonationForm {
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(to bottom, #3e236d 30%, #3f51b5 70%);
  width: 50%;
  padding: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}

.NavBar {
  color: white;
  display: inline-flex;
  background: navy;
  /* background: linear-gradient(to bottom, #3e236d 30%, #3f51b5 70%); */
}

.NavBar * {
  color: white;
  margin: 0px;
}

.NavBar * :hover {
  color: green;
}

.DonationIndex a {
  text-decoration: none !important;
}

.DonationIndex {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

.card {
  display: flex;
  justify-content: center;
}

.DonationPage {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.DonationSearch {
  display: inline-flex;
  margin-left: 20px;
}

.SearchButton {
  margin-left: 15px;
}

.UserSignIn {
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(to bottom, #3e236d 30%, #3f51b5 70%);
  width: 50%;
  padding: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}

.UserForm {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  padding: 15px;
  background: linear-gradient(to bottom, #3e236d 30%, #3f51b5 70%);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}

.UserDonation {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

.UserMessage {
  margin-top: 20px;
  padding: 10px;
}

.ToggleDashbord {
  position: absolute;
  left: 20px;
  top: 15px;
}

.ToggleDashbord:hover {
  cursor: context-menu;
}
